# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea

native/natives
native/tmp
native/jni
april_tags_2077.dll
apriltagd.dll
apriltagd.lib
